@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "burtons";
  src: url("../../public/Burtons.otf");
}
@font-face {
  font-family: "roboto";
  src: url("../../public/Roboto-Bold.ttf") format("truetype"),
    url("../../public/Roboto-Regular.ttf") format("truetype");
  font-weight: bold, normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color: rgb(63 63 63);
  }
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #fff;
}

main {
  color: #fff;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*  this is where the magic happens:  */
  background-attachment: fixed;
  background-image: url("/beach.png");
  background-position: top;
  background-size: cover;
  color: var(--color);
  text-align: center;
}

.slide-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in.active {
  opacity: 1;
  transform: translateY(0);
}

/* Slide-in from the left */
.slide-in-left {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in-left.active {
  opacity: 1;
  transform: translateX(0);
}

/* Slide-in from the right */
.slide-in-right {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in-right.active {
  opacity: 1;
  transform: translateX(0);
}

@keyframes parallax {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Slide-in from the left */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Slide-in from the right */
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s ease both;
}

.slide-in-right {
  animation: slideInRight 0.5s ease both;
}
